.li-inline li{
    display: inline-block;
    width: 80px;
}

.li-inline a {
    text-decoration: none;
}

.li-inline a:visited {
    color: black;
}

.navbar {
    width: 800px;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;
    border: solid black 1px;
    border-width: 100%;
    
}




